body {
    background-color: #FFA27F;
}

h1 {
    color: #FF0000;
}

#yes {
    color: #FFE8C5;
}

#no {
    color: #FFE8C5;
}

#maybe {
    color: #FFE8C5;
}

#note {
    color: #FFE8C5;
}

* {
    text-align: center;
}

button {
    height: 90px;
    width: 200px;
    color: black;
}
